* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #D9D9D9;
    height: 100vh;
    overflow: hidden;
}

ul {
    list-style-type: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.head {
    max-width: 80%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}

.logo {
    /* border: 2px solid blue; */
    border-radius: 16px;
    font-size: .9rem;
    color: #696969;
    width: 15%;
    text-align: center;
    padding-top: .8em;
    padding-bottom: .6em;
    box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.25), 12px 12px 12px rgba(0, 0, 0, 0.25);
}

nav {
    /* border: 2px solid black; */
    width: 20%;
    box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.25), 12px 12px 12px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

nav ul {
    width: 95%;
    margin: auto;
    margin-top: .2em;
    margin-bottom: .2em;
    display: flex;
    justify-content: space-between;
    box-shadow: inset -7px -7px 10px rgba(255, 255, 255, 0.25), inset 7px 7px 10px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

nav ul li {
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
    padding-top: .6em;
    padding-bottom: .6em;
}

nav ul li:nth-child(1) {
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
}

nav ul li:nth-child(2) {
    border-left: 1px solid #696969;
    border-right: 1px solid #696969;
}

nav ul li:nth-child(3) {
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}

nav ul li:hover,
.active {
    background-color: hsla(12, 100%, 69%, 0.53);
}

.main-container {
    max-width: 70%;
    /* border: 2px solid red; */
    margin: auto;
}

.notifications {
    margin-top: 3em;
    height: 30vh;
    border: 2px solid red;
    display: none;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    /* border: 2px solid red; */
    margin-top: 2.5em;
    width: 45%;
    height: 30vh;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #696969;
    border-radius: 24px;
    box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.25), 12px 12px 12px rgba(0, 0, 0, 0.25);
    transition: all .4s ease-out;
}

.card:hover {
    width: 45.2%;
    height: 30.5vh;
    box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.678), 12px 12px 12px rgba(0, 0, 0, 0.473);
    background-color: hsla(12, 100%, 69%, 0.53);
}

.card a {
    /* border: 2px solid blue; */
    width: 100%;
}

.add {
    /* border: 2px solid red; */
    font-size: 1.8rem;
    position: absolute;
    right: 2em;
    color: #696969;
    padding: .25em .3em;
    box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.479), 12px 12px 12px rgba(0, 0, 0, 0.349);
    border-radius: 7px;
    transition: all .4s ease-out;
}

.add:hover {
    padding: .35em;
    background-color: hsla(12, 100%, 69%, 0.637);
    box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.678), 12px 12px 12px rgba(0, 0, 0, 0.548);
    border-radius: 17px;
}